<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="df8f2964-8bb9-477a-b93c-aef4de5d3ae5" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="6409967a-cf19-4618-a42c-10525cd6d743">grid</Composition>
      <Composition Key="5b95f4b2-9dec-4bab-aec4-fae9ba61a579">seo</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="89d2eef0-9415-46ff-b652-47efd293d45e">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="df8f2964-8bb9-477a-b93c-aef4de5d3ae5" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>