<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b2dd7c6c-b932-4728-b5d2-a42988e4d8f4" Alias="homepage" Level="1">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="6409967a-cf19-4618-a42c-10525cd6d743">grid</Composition>
      <Composition Key="5b95f4b2-9dec-4bab-aec4-fae9ba61a579">seo</Composition>
    </Compositions>
    <DefaultTemplate>Homepage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="06a17dda-2657-4c64-b09f-e2abd20b9648">Homepage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="df8f2964-8bb9-477a-b93c-aef4de5d3ae5" SortOrder="0">contentPage</ContentType>
    <ContentType Key="ca6e461b-67a9-455c-9088-f418518c06ef" SortOrder="1">sitemap</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>