@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Services;
@using Umbraco.PublishedContent.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
  var globalSettings = Umbraco.Content(1162) as GlobalSettings;
}

<html>
    <head>
        <meta charset="UTF-8">       
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script data-cookieconsent="ignore" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
    <body>
        @RenderBody
    </body>

</html>