<?xml version="1.0" encoding="utf-8"?>
<DataType Key="41f5f6a9-7473-4a01-ac1c-ca0621445f9b" Alias="Custom Header Selector" Level="1">
  <Info>
    <Name>Custom Header Selector</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "customHeader",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": 0,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>