<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f82d5116-f4b2-4a30-b72e-3d4001121231" Alias="Custom Header - Text - Rich Text Editor" Level="1">
  <Info>
    <Name>Custom Header - Text - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "bold"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "OverlaySize": "small",
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>