<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7d7202be-1710-4df5-a7bf-16b3a899fc2b" Alias="Custom Header - Header Tag - Dropdown" Level="1">
  <Info>
    <Name>Custom Header - Header Tag - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "h1"
    },
    {
      "id": 2,
      "value": "h2"
    },
    {
      "id": 3,
      "value": "h3"
    },
    {
      "id": 4,
      "value": "h4"
    },
    {
      "id": 5,
      "value": "h5"
    },
    {
      "id": 6,
      "value": "h6"
    }
  ]
}]]></Config>
</DataType>