<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9e720dae-d561-4b04-8180-a8d831acee56" Alias="Footer Section - Links - Multi URL Picker" Level="1">
  <Info>
    <Name>Footer Section - Links - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 0,
  "OverlaySize": "small",
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>