<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5d0fea27-d69e-4c90-ba66-bea0bc661eb5" Alias="Global Settings - Custom Header Scripts - Textarea" Level="1">
  <Info>
    <Name>Global Settings - Custom Header Scripts - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>