<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6eca582a-7d8b-421a-a680-3260d22743ab" Alias="Global Settings - Nav Sections - Nested Content" Level="1">
  <Info>
    <Name>Global Settings - Nav Sections - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "navStandardSection",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "navSecondarySection",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "navFeatureImageSection",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>