<?xml version="1.0" encoding="utf-8"?>
<DataType Key="16a54e3a-88b8-4923-9107-ec8a704b43ab" Alias="Nav Feature Image - Link - Multi URL Picker" Level="1">
  <Info>
    <Name>Nav Feature Image - Link - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 1,
  "MaxNumber": 1,
  "OverlaySize": "small",
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>