<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ea99ea2b-2497-4a31-8487-5b43976b4db3" Alias="Nav Feature Image Section - Links - Multi URL Picker" Level="1">
  <Info>
    <Name>Nav Feature Image Section - Links - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 0,
  "OverlaySize": "small",
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>