<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c118efac-960b-4a52-ad32-dcc4ac9e6747" Alias="Nav Feature Image Section - Feature - Nested Content" Level="1">
  <Info>
    <Name>Nav Feature Image Section - Feature - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "navFeatureImage",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": 1,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>