<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7ff47ff2-b440-4610-9687-9d1fa8c249ae" Alias="Nav Sub Section - Title - Textbox" Level="1">
  <Info>
    <Name>Nav Sub Section - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>