<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f26700f6-3b7c-4006-a096-34041a3ebe98" Alias="Nav Secondary Section - Standard Links - Multi URL Picker" Level="1">
  <Info>
    <Name>Nav Secondary Section - Standard Links - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 0,
  "OverlaySize": "small",
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>