<?xml version="1.0" encoding="utf-8"?>
<DataType Key="de88a9ca-b005-42f6-a226-6bc701ef9d59" Alias="Nav Sub Section - Bottom Link - Multi URL Picker" Level="1">
  <Info>
    <Name>Nav Sub Section - Bottom Link - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "OverlaySize": "small",
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>