<?xml version="1.0" encoding="utf-8"?>
<DataType Key="99c08264-a19f-4a36-bb2b-c127eb3c2842" Alias="Nav Secondary Section - Title - Textbox" Level="1">
  <Info>
    <Name>Nav Secondary Section - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>