<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a32ecbb3-faac-417c-b8f2-71a10c99317f" Alias="Nav Sub Section - Links - Multi URL Picker" Level="1">
  <Info>
    <Name>Nav Sub Section - Links - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 0,
  "OverlaySize": "small",
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>