<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e6ef3fde-d9c7-495d-985b-66f8e3160415" Alias="Nav Secondary Section - Sub Sections - Nested Content" Level="1">
  <Info>
    <Name>Nav Secondary Section - Sub Sections - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "navSubSection",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>