<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4279a3db-91ff-4a9f-a596-2dd43f969cfa" Alias="Nav Standard Section - St - Multi URL Picker" Level="1">
  <Info>
    <Name>Nav Standard Section - St - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 0,
  "OverlaySize": "small",
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>