<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f8e33fd6-a84b-4f49-9356-bcdde971b92c" Alias="Trackable Cta Selector" Level="1">
  <Info>
    <Name>Trackable Cta Selector</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "trackableLink",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>