<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c4f8a454-10bb-4f07-bc8f-18369464c6b0" Alias="Trackable Cta - Link - Multi URL Picker" Level="1">
  <Info>
    <Name>Trackable Cta - Link - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 1,
  "MaxNumber": 1,
  "OverlaySize": "small",
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>