<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f1cd30a0-3fe9-48d7-85c7-84f88fa96cbc" Alias="Trackable Cta - Link Id - Textbox" Level="1">
  <Info>
    <Name>Trackable Cta - Link Id - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>